extends layout.pug

block content
  body
    h1= title
    p
      form.searchbar(action='')
        input.search(type='text', placeholder='Search..', name='search')
    p
      a.button(href='/books/new') Create New Book
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody 
        each book in books
          tr.books
            td.title
              a(href="/books/detail/" + book.id)=book.title
            td.author= book.author
            td.genre= book.genre
            td.year= book.year
    script(src='/js/search.js')
